<!DOCTYPE html>
<html>
  <style>
         background="backroundimage.jpg"
  </style>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/games">Games</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:vincentjenei@gmail.com">Email</a></li>
   <li><a href="https://github.com/VincentLite">My GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>
